<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="levelMapper"> 

	<!-- member LoginCount 불러오기-->
	<select id="getLoginCount" parameterType="string" resultType="_int">
		select count(*)
		from MEMBER
		where mno = #{mNo}
		<!-- where MSTATUS = 'Y' -->
	</select>
	
	<select id="getWriteCount" parameterType="string" resultType="_int">
		select COUNT(*)
		from MANAGEBOARD M
        LEFT join housemate_board  H on ( H.BCODE = M.BCODE)
        LEFT join roomate_board  R on ( R.BCODE = M.BCODE)
        LEFT join freshman_board  F on ( F.BCODE = M.BCODE)
        where R.RBWRITER = #{ nickname }
        OR H.HBWRITER = #{ nickname }
        OR F.FBWRITER = #{ nickname }
	</select>
	
	<!-- <select id="selectlCode" parameterType="_int" resultType="Member">
		select MLNAME
		from MANAGEMEMBER
		where mlcode = 'B'
		<if test="loginCount lte 3"> and mlcode = 'B'</if>
		<if test="(loginCount gte 4) &amp;&amp; (loginCount lte 9)"> and mlcode = 'S'</if>
		<if test="loginCount gte 10"> and mlcode = 'G'</if>
	</select> -->
	
	<update id="updatelCode" parameterType="hashmap">
		update MEMBER
		set 
			<!-- <if test="(loginCount lte 3) or (writeCount lte 3)"> mlcode = 'B'</if>
			<if test="(loginCount lte 5) or (writeCount lte 5)"> mlcode = 'S'</if>
			<if test="(loginCount gt 5 ) or (writeCount gt 5)"> mlcode = 'G'</if> -->
			mlcode = #{level}
		where mno = #{mNo}	
	</update>
	
	<!-- login시 -->
	<!-- <select id="login">
		SELECT * FROM ManageMember
		JOIN MEMBER USING MLCODE
		WHERE EMAIL = #{email} AND PWD = #{pwd}
	</select> -->
</mapper>

