<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="levelMapper"> 

	<!-- member LoginCount 불러오기-->
	<select id="getLoginCount" parameterType="string" resultType="_int">
		select count(*)
		from MEMBER
		where mno = #{mNo}
	</select>
	
	<select id="getWriteCount" parameterType="string" resultType="_int">
		select COUNT(*)
		from MANAGEBOARD M
        LEFT join housemate_board  H on ( H.BCODE = M.BCODE)
        LEFT join roomate_board  R on ( R.BCODE = M.BCODE)
        LEFT join freshman_board  F on ( F.BCODE = M.BCODE)
        where R.RBWRITER = #{ nickname }
        OR H.HBWRITER = #{ nickname }
        OR F.FBWRITER = #{ nickname }
	</select>
	
	<update id="updatelCode" parameterType="hashmap">
		update MEMBER
		set mlcode = #{level}
		where mno = #{mNo}	
	</update>
	
	<!-- login시 -->
	<!-- <select id="login">
		SELECT * FROM ManageMember
		JOIN MEMBER USING MLCODE
		WHERE EMAIL = #{email} AND PWD = #{pwd}
	</select> -->
</mapper>

