<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<select id="selectOne" parameterType="Member" resultType="Member">
  	
  		<!-- 암호화 후 로그인  -->
  		select * from member
  		where email=#{email}
  		and mstatus='Y'
  		
  	</select>
  	
  	<!-- MLCODE default -> 'B'수정(db) -->
  	<insert id="insertMember" parameterType="Member" >
  		insert into member 
  		values (member_seq.nextval, default, #{email}, #{pwd}, #{name}, #{nickname},
  				#{gender}, #{birth}, #{address}, #{phone}, default, sysdate, sysdate, #{snsId}, default )
  	</insert>

	<update id="deleteMember" parameterType="Member">
		update Member
		set mstatus='N'
		where mNo=#{mNo}
	</update>
	
	<update id="addLoginCount" parameterType="Member">
		update Member
		set logincount = logincount + 1
		where mno = #{mNo}
	</update>

	<select id="checkIdDup" parameterType="string" resultType="_int">
		select count(*) from member
  		where email=#{email}
	</select>
	
	<select id="checkNickDup" parameterType="string" resultType="_int">
		select count(*) from member
		where nickname=#{nickname}
	</select>
	
	<select id="snsLogin" parameterType="Member" resultType="Member">
		select*from member
		where snsid=#{snsId}
		and mStatus='Y'
	</select>
	
	<update id="memberUpdate" parameterType="Member">
		update Member
		set pwd = #{pwd}, name=#{name},
			gender=#{gender}, birth=#{birth},
			address=#{address}, phone=#{phone},
			updateDate=sysdate
		where email=#{email}
		and mStatus='Y'
	</update>
	
	<insert id="insertProfile" parameterType="Member">
		insert into profile
		values (#{mNo}, #{originalFileName}, #{renameFileName})
	</insert>


</mapper>
