<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rmboardMapper">

	<insert id="insertBoard" parameterType="RMBoard">
		insert into ROOMATE_BOARD
		values (ROOMATE_BOARD_SEQ.nextval, default, #{rLocation}, #{rbTitle}, #{rbContent},
				#{rbWriter}, default, sysdate, sysdate, default, 
				#{rRentType}, #{rLivingType}, #{rRoomCount}, #{rFloor}, #{rPrice}, #{rParking}, #{rReqGender}, #{contactInfo})
	</insert>
	
	<select id="selectList" resultType="RMBoard">
		select * 
		from ROOMATE_BOARD
		where RBSTATUS = 'Y'
		<!-- <choose>
			<when test="loc != null"> and loc = #{rLocation} </when>
			<when test="writer != null"> and nickName = #{writer} </when>
		</choose> -->
		<if test="loc != null and !loc.equals('')">
		<choose>
			<when test="loc.equals('SEOUL')"> and rlocation='서울' </when>
			<when test="loc.equals('INCHEON')"> and rlocation='인천/부천' </when>
			<when test="loc.equals('SUWON')"> and rlocation='수원/경기' </when>
			<when test="loc.equals('DAEGU')"> and rlocation='대구/경북' </when>
			<when test="loc.equals('BUSAN')"> and rlocation='부산/경남' </when>
			<when test="loc.equals('CHUNGCHEONG')"> and rlocation='충청/강원' </when>
			<when test="loc.equals('GWANGJU')"> and rlocation='광주/전라' </when>
		</choose>
		 </if>
		order by RBID desc
	</select>
	
	<update id="addReadCount" parameterType="_int">
		update ROOMATE_BOARD
		set RBCOUNT = RBCOUNT + 1
		where rbId = #{rbId}
	</update>
	
	<resultMap type="RMBoard" id="rmboardResultSet">
		<id property="rbId" column="RBID"/>
		<result property="bcode" column="BCODE"/>
		<result property="rbTitle" column="RBTITLE"/>
		<result property="rbWriter" column="RBWRITER"/>
		<result property="rbContent" column="RBCONTENT"/>
		<result property="rbCount" column="RBCOUNT"/>
		<result property="rbCreateDate" column="RBCREATEDATE"/>
		<result property="rbModifyDate" column="RBMODIFYDATE"/>
		<result property="rbStatus" column="RBSTATUS"/>
		<result property="rLocation" column="RLOCATION"/>
		<result property="rRentType" column="RRENTTYPE"/>
		<result property="rLivingType" column="RLIVINGTYPE"/>
		<result property="rRoomCount" column="RROOMCOUNT"/>
		<result property="rFloor" column="RFLOOR"/>
		<result property="rPrice" column="RPRICE"/>
		<result property="rParking" column="RPARKING"/>
		<result property="rReqGender" column="RREQGENDER"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
	</resultMap>
	
	<select id="selectBoard" parameterType="_int" resultType="RMBoard" >
	<!-- resultMap="rmboardResultSet"> -->
		<!-- select *
		from ROOMATE_BOARD
		where rbId = #{rbId}
			  and RBSTATUS = 'Y' -->
			  
		select rb.*, 
		a.ORIGINALFILENAME, 
		a.renamefilename
		from ROOMATE_BOARD rb
		left join attachment a on a.bcode=rb.bcode
		where 
		rb.rbid = a.refbid
		and rb.rbstatus='Y' 
		and rb.rbid =#{rbId} 	  
	</select>
	
	<insert id="insertFile">
		insert into ATTACHMENT
		values (attachment_seq.nextval, #{bcode}, #{rbId}, #{originalFileName}, #{renameFileName})
	</insert>
	
	<select id="selectBno" resultType="_int">
		SELECT ROOMATE_BOARD_SEQ.CURRVAL FROM DUAL
	</select>
	
	<update id="updateBoard" parameterType="RMBoard">
		update ROOMATE_BOARD
		set rLocation=#{rLocation}, rbTitle=#{rbTitle}, rbContent=#{rbContent}, 
			 rRentType=#{rRentType}, rLivingType=#{rLivingType}, rRoomCount=#{rRoomCount},
			rFloor=#{rFloor}, rPrice=#{rPrice}, rParking=#{rParking}, rReqGender=#{rReqGender}, contactInfo=#{contactInfo}
		where rbId = #{rbId} 	
	<!-- 생성/수정 날짜 -->		
	</update>
	
	<update id="updateFile" parameterType="RMBoard">
		update attachment
		set originalFilename = #{originalFileName},
			renameFileName = #{renameFileName}
		where bcode = #{bcode}
			  and refbid = #{rbId}
	</update>
	
	<select id="selectReplyList" parameterType="_int" resultType="Reply">
	<!-- resultMap="replyResultSet" -->
		select *
		from reply r
			join ROOMATE_BOARD b on r.bcode=b.bcode
		and r.refbid = b.rbid
		where refbid = #{rbId}	
		
	</select>
	
	<!-- <resultMap id="replyResultSet" type="Reply">
		<result property="refbId" column="REFBID"/>
		<result property="rCreateDate" column="RCREATEDATE"/>
		<result property="rModifyDate" column="RMODIFYDATE"/>
		<result property="rStatus" column="RSTATUS"/>
	</resultMap> -->
	
	<insert id="insertReply" parameterType="Reply">
		insert into reply
		values (REPLY_SEQ.nextval, #{bCode}, #{rContent}, #{refbId}, #{rWriter},sysdate, sysdate, default,DEFAULT)
	</insert>
	
	<update id="deleteBoard">
		update ROOMATE_BOARD
		set RBSTATUS='N'
		where rbId = #{rbId}
	</update>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from ROOMATE_BOARD
		where RBSTATUS='Y'
		<if test="loc != null and !loc.equals('')">
		<choose>
			<when test="loc.equals('SEOUL')"> and rlocation='서울' </when>
			<when test="loc.equals('INCHEON')"> and rlocation='인천/부천' </when>
			<when test="loc.equals('SUWON')"> and rlocation='수원/경기' </when>
			<when test="loc.equals('DAEGU')"> and rlocation='대구/경북' </when>
			<when test="loc.equals('BUSAN')"> and rlocation='부산/경남' </when>
			<when test="loc.equals('CHUNGCHEONG')"> and rlocation='충청/강원' </when>
			<when test="loc.equals('GWANGJU')"> and rlocation='광주/전라' </when>
		</choose>
		 </if>
		order by RBID desc
	</select>
	
	<select id="selectSearchResultCount" resultType="_int">
 		select count(*)
 		from ROOMATE_BOARD
 			<!-- join member on(rbWriter = NICKNAME) -->
 		where RBSTATUS = 'Y'
 		<if test="swriter != null">
 			and rbWriter like '%' ||  #{swriter} || '%'
 		</if>	
 		<if test="stitle != null">
 			and rbTitle like '%' || #{stitle} || '%'
 		</if>	
 		<if test="scontent != null">
 			and rbContent like '%' || #{scontent} || '%'
 		</if>	
 	</select>
 	
 	<select id="selectSearchResultList" resultMap="rmboardResultSet">
 		select *
 		from ROOMATE_BOARD
 			<!-- join member on(rbWriter = NICKNAME) -->
 		where RBSTATUS = 'Y'
 		<choose>
 			<when test="swriter != null">
 				and rbWriter like '%' ||  #{swriter} || '%'
 			</when>
 			<when test="stitle != null">
 				and rbTitle like '%' || #{stitle} || '%'
 			</when>
 			<otherwise>
 				and rbContent like '%' || #{scontent} || '%'
 			</otherwise>
 		</choose>
 		order by RBID desc	
 	</select>
 	
 	<!-- 김상욱 탑 리스트 -->
	<select id="selectTopList" resultMap="rmboardResultSet">
		<![CDATA[
			select *
			from (select *
				  from roomate_board
				  where rbstatus = 'Y'
				  order by rbcreatedate desc)
			where rownum <= 8
		]]>
	</select>
	
	<!-- 매칭리스트 -->
	<select id="selectRMatching" parameterType="hashmap" resultType="RMBoard">
		select rb.*, A.originalfilename, A.renamefilename
		from roomate_board rb
		left join attachment A on rb.bcode=A.bcode
		where rb.rbstatus = 'Y'
		and rb.rbid = A.refbid
		<if test=" mLoc != null" >
		and rLocation like '%' || #{mLoc} || '%'
		</if>
		<if test=" mReq != null" >
		or rReqGender = #{mReq}
		</if>
		<if test=" mLiv != null">
		or rLivingType = #{mLiv} 
		</if>
		<if test=" mRom != null">
		or rRoomCount = #{mRom} 
		</if>
	</select>
	
	
	
	</mapper>

