<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rmboardMapper">

	<insert id="insertBoard" parameterType="RMBoard">
		insert into ROOMATE_BOARD
		values (ROOMATE_BOARD_SEQ.nextval, default, #{rLocation}, #{rbTitle}, #{rbContent},
				#{rbWriter}, default, sysdate, sysdate, default, 
				#{rRentType}, #{rLivingType}, #{rRoomCount}, #{rFloor}, #{rPrice}, #{rParking}, #{rReqGender},
				#{originalFileName}, #{renameFileName})
	</insert>
	
	<select id="selectList" resultType="RMBoard">
		select * 
		from ROOMATE_BOARD
		where RBSTATUS = 'Y'
		order by RBID desc
	</select>
	
	<update id="addReadCount" parameterType="_int">
		update ROOMATE_BOARD
		set RBCOUNT = RBCOUNT + 1
		where rbId = #{rbId}
	</update>
	
	<resultMap type="RMBoard" id="rmboardResultSet">
		<id property="rbId" column="RBID"/>
		<result property="bcode" column="BCODE"/>
		<result property="rbTitle" column="RBTITLE"/>
		<result property="rbWriter" column="RBWRITER"/>
		<result property="rbContent" column="RBCONTENT"/>
		<result property="rbCount" column="RBCOUNT"/>
		<result property="rbCreateDate" column="RBCREATEDATE"/>
		<result property="rbModifyDate" column="RBMODIFYDATE"/>
		<result property="rbStatus" column="RBSTATUS"/>
		<result property="rLocation" column="RLOCATION"/>
		<result property="rRentType" column="RRENTTYPE"/>
		<result property="rLivingType" column="RLIVINGTYPE"/>
		<result property="rRoomCount" column="RROOMCOUNT"/>
		<result property="rFloor" column="RFLOOR"/>
		<result property="rPrice" column="RPRICE"/>
		<result property="rParking" column="RPARKING"/>
		<result property="rReqGender" column="RREQGENDER"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
	</resultMap>
	
	<select id="selectBoard" parameterType="_int" resultMap="rmboardResultSet">
		select *
		from ROOMATE_BOARD
		where rbId = #{rbId}
			  and RBSTATUS = 'Y'
	</select>
	
	<update id="updateBoard" parameterType="RMBoard">
		update ROOMATE_BOARD
		set rLocation=#{rLocation}, rbTitle=#{rbTitle}, rbContent=#{rbContent}, 
			rbWriter=#{rbWriter}, rRentType=#{rRentType}, rLivingType=#{rLivingType}, rRoomCount=#{rRoomCount},
			rFloor=#{rFloor}, rPrice=#{rPrice}, rParking=#{rParking}, rReqGender=#{rReqGender}
		where rbId = #{rbId} 	
	<!-- 생성/수정 날짜 -->		
	</update>
	
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		select *
		from reply r
			join board b on(refbId = rbId)
		where refbId = #{rbId}	
		order by rid desc
	</select>
	
	<resultMap id="replyResultSet" type="Reply">
		<result property="refbId" column="REFBID"/>
		<result property="rCreateDate" column="RCREATEDATE"/>
		<result property="rModifyDate" column="RMODIFYDATE"/>
		<result property="rStatus" column="RSTATUS"/>
	</resultMap>
	
	<insert id="insertReply" parameterType="Reply">
		insert into reply
		values (REPLY_SEQ.nextval, default, #{rContent}, #{refbId}, #{rWriter},sysdate, sysdate, default)
	</insert>
	
</mapper>
