<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rmboardMapper">

	<insert id="insertBoard" parameterType="RMBoard">
		insert into ROOMATE_BOARD
		values (ROOMATE_BOARD_SEQ.nextval, default, #{rLocation}, #{rbTitle}, #{rbContent},
				#{rbWriter}, default, sysdate, sysdate, default, 
				#{rRentType}, #{rLivingType}, #{rRoomCount}, #{rFloor}, #{rPrice}, #{rParking}, #{rReqGender})
	</insert>
	
	<select id="selectList" resultType="RMBoard">
		select * 
		from ROOMATE_BOARD
		where RBSTATUS = 'Y'
		order by RBID desc
	</select>
	
	<!-- <update id="addReadCount" parameterMap="_int">
		update ROOMATE_BOARD
		set RBCOUNT = RBCOUNT + 1
		where rbId = #{rbId}
	</update>
	
	<select id="selectBoard" parameterMap="_int" resultType="RMBoard">
		select *
		from ROOMATE_BOARD
		where rbId = #{rbId}
			  and RBSTATUS = 'Y'
	</select> -->
	
	
</mapper>
