<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<settings>
	<!-- NULL을 null 로 인식하라고 셋팅해줌. 안하면 다른줄알고 인식못함. -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.project.bangpool.member.model.vo.Member" alias="Member"/>

		<typeAlias type="com.project.bangpool.housemateboard.model.vo.HMBoard" alias="hmBoard"/>

		<typeAlias type="com.project.bangpool.freshmanmateboard.model.vo.FMBoard" alias="FMBoard"/>

	    <typeAlias type="com.project.bangpool.roommateboard.model.vo.RMBoard" alias="RMBoard"/>
    	
    	<typeAlias type="com.project.bangpool.comment.model.vo.Reply" alias="Reply"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>

		<mapper resource="mappers/hmboard-mapper.xml"/>

		<mapper resource="mappers/fmboard-mapper.xml"/>
    
  	 	<mapper resource="mappers/rmboard-mapper.xml"/>

	</mappers>
	
</configuration>

